/* Hero.css */

/* Section Styles */
.hero-section {
    height: 800px;
    background-image: url('../../../assets/img/bghero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Text Container Styles */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Hot Trend Styles */
.hot-trend {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    /* Equivalent to font-semibold */
}

.trend-line {
    width: 10px;
    height: 2px;
    margin-right: 3px;
    background-color: #00acc1;
    /* Cyan 700 */
}

/* Hero Title Styles */
.hero-title {
    text-transform: uppercase;
    font-size: 55px;
    line-height: 1.1;
    font-weight: 600;
    /* Equivalent to font-semibold */
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 70px;
    }
}

.new-collection {
    font-weight: 300;
    /* Equivalent to font-light */
}

/* Discover More Link Styles */
.discover-more {
    align-self: start;
    text-transform: uppercase;
    font-weight: 600;
    /* Equivalent to font-semibold */
    border-bottom: 2px solid var(--primary-color);
}